@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap");
.hname {
  font-family: "Bigelow Rules", cursive;
  margin: 0px;
  font-size: 80px;
  color: rgba(21, 15, 48, 0.74);
}
